.logo {
    height: 31px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: left;
}

.divLogo {
    background: url("../../../assets/images/logo2.png");
    width: 92px;
    height: 40px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 15px;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    height: 100%;
    border-right: 0;
}

.inner-layout {
    padding: 24px 24px;
}

.divUsername {
    position: absolute;
    right: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;

    .imgUser {
        margin-right: 20px;
        width: 40px;
        border-radius: 50%;
    }
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}