<div class="divBackground">
    <div class="container-center">
        <form nz-form [formGroup]="resourceForm" class="login-form" (ngSubmit)="logar()">
            <div class="divImg">
                <img src="../../../assets/images/logo2.png" style="width: 200px;">
            </div>
            <nz-form-item>
                <nz-form-control nzErrorTip="Insira seu e-mail">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" nzSize="large" placeholder="E-mail" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Insira sua senha">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" nzSize="large" placeholder="Senha" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-bottom: 10px">
                <nz-form-control>
                    <button nz-button class="login-form-button" nzSize="large" [nzType]="'primary'"
                        [nzLoading]="bLoading">
                        {{ strBotaoEntrar }}
                    </button>
                </nz-form-control>
            </nz-form-item>

            <div class="version">
                <p>v{{versao}}</p>
            </div>
        </form>
    </div>
</div>