<janela-site>
    <div class="divHeader">
        <div class="divTitulo">
            <div>
                {{isPortuguese ? 'Empresa' : 'Company'}}
            </div>
            <div class="divBreadcrumb">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="">Home</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        {{isPortuguese ? 'Empresa' : 'Company'}}
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
        </div>
    </div>
    <div nz-row class="divConteudo" [nzGutter]="16">
        <div nz-col nzSpan="12" class="divTexto"
            [innerHTML]="isPortuguese ? textoEmpresa?.texto :  textoEmpresa?.texto_ingles">
        </div>

        <div nz-col nzSpan="12">
            <nz-carousel nzAutoPlay class="carouselEmpresa">
                <div nz-carousel-content *ngFor="let image of listCarousel">
                    <img class="imgEmpresa" [src]="image">
                </div>
            </nz-carousel>
        </div>
    </div>

</janela-site>