<janela-site>
    <div class="divHeader">
        <div class="divTituloBreadcrumb">
            <div class="divNome">
                {{isPortuguese ? 'Materiais' : 'Materials'}}
            </div>
            <div class="divBreadcrumb">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="">Home</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        {{isPortuguese ? 'Materiais' : 'Materials'}}
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
        </div>
    </div>

    <div class="divConteudo">
        <div *ngIf="width > 700; else carousel">
            <div style="text-align: center; margin-bottom: 20px;">
                <h3>Filtros</h3>

                <nz-radio-group [(ngModel)]="filtro" (ngModelChange)="mudarMateriais($event)">
                    <label nz-radio-button nzValue="T">Todos</label>
                    <label nz-radio-button nzValue="E">Exóticos</label>
                    <label nz-radio-button nzValue="B">Básicos</label>
                </nz-radio-group>
            </div>

            <div nz-row [nzGutter]="[16, 16]">
                <div nz-col [nzSpan]="6" *ngFor="let material of listMateriais" (mouseover)="material.hover = true"
                    (mouseleave)="material.hover = false">
                    <div>
                        <img class="imgMaterial" [src]="material.url">
                    </div>
                    <div [ngClass]="material.hover ? 'divHover visivel' : 'divHover'">
                        <span [ngClass]="material.hover ? 'spanNome visivel' : 'spanNome'">{{material.nome}}</span>
                        <button nz-button nzType="primary" (click)="verChapa(material)"
                            [ngClass]="material.hover ? 'buttonVerChapa visivel' : 'buttonVerChapa'">{{isPortuguese ? 'Ver Chapa' : 'See Slab'}}</button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #carousel>
            <div>
                {{isPortuguese ? 'Veja a nossa galeria de materiais que nós produzimos com total qualidade!' : 'See our gallery of materials that we produce with total quality!'}}
            </div>

            <nz-carousel [nzAutoPlaySpeed]="5000" nzAutoPlay class="carouselMaterial">
                <div nz-carousel-content *ngFor="let material of listMateriais">
                    <img class="imgMaterial" [src]="material.url" [style.width.px]="width - 20">
                    <div class="divMaterialNome">
                        {{material.nome}}
                    </div>
                </div>
            </nz-carousel>
        </ng-template>
    </div>
</janela-site>