.imgHome {
    object-fit: cover;
}

.divIcon {
    position: absolute;
    top: calc(50% - 30px);
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #000000bf;
    width: 40px;
    height: 40px;
    font-size: 25px;

    &.direita {
        right: 20px;
        padding-left: 9px;
        padding-top: 3px;
    }

    &.esquerda {
        left: 20px;
        padding-left: 5px;
        padding-top: 3px;
    }
}