<janela-site>
    <div style="position: relative;" [style.height.px]="alturaCarousel" [style.width.px]="width">
        <nz-carousel nzAutoPlay style="height: 100%;" #carousel [nzAutoPlaySpeed]="5000">
            <div nz-carousel-content *ngFor="let image of listCarousel; let i = index">
                <img class="imgHome" [style.height.px]="alturaCarousel" [style.width.px]="width" [src]="image"
                    [ngStyle]="i == 0 ? { 'object-position': 'right'} : { 'object-position': 'center'} ">
            </div>
        </nz-carousel>

        <div class="divIcon esquerda" (click)="moverEsquerda()"> <i nz-icon nzType="left" nzTheme="outline"></i> </div>
        <div class="divIcon direita" (click)="moverDireita()"><i nz-icon nzType="right" nzTheme="outline"></i> </div>
    </div>
</janela-site>