<nz-layout style="min-height: 100vh;">
    <nz-header class="headerToolbar">
        <div class="divMenu" *ngIf="width < 700">
            <button nz-button nzType="link" (click)="this.isCollapsed = !this.isCollapsed">
                <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
            </button>
        </div>
        <div class="divTitulo" nz-row>
            <div nz-col nzSpan="12" class="divLogo">
                <img src="../../../assets/images/logo2.png">
            </div>
            <ul nz-col nzSpan="10" nz-menu nzTheme="light" nzMode="horizontal" class="header-menu" *ngIf="width > 700">
                <li nz-menu-item [nzSelected]="this.isSelected(menu.routerLink[0])" [routerLink]="menu.routerLink"
                    *ngFor="let menu of listMenu">
                    {{isPortuguese ? menu.name : menu.englishName}}</li>
            </ul>

            <div nz-col nzSpan="2" nz-row *ngIf="width > 700">
                <li nz-col nzSpan="12" class="liPaises" nz-col (click)="mudarIdioma('pt-br')">
                    <div class="divBrasil">
                    </div>
                </li>
                <li nz-col nzSpan="12" class="liPaises" nz-col (click)="mudarIdioma('en-us')">
                    <div class="divEua"></div>
                </li>
            </div>
        </div>
    </nz-header>
    <nz-layout>
        <nz-drawer [nzClosable]="false" [nzVisible]="isCollapsed" nzPlacement="left"
            (nzOnClose)="this.isCollapsed = false">

            <div class="divLogoMobile">
                <img src="../../../assets/images/logo2.png">
            </div>

            <ul nz-col nz-menu nzTheme="light" nzMode="vertical">
                <li nz-menu-item [nzSelected]="this.isSelected(menu.routerLink[0])" [routerLink]="menu.routerLink"
                    *ngFor="let menu of listMenu">
                    {{isPortuguese ? menu.name : menu.englishName}}</li>
            </ul>

            <div class="divFooterMenu">
                <div class="divFooterSuperiorMenu">
                </div>
                <div class="divFooterMenuInferior" nz-row>
                    <div nz-col nzSpan="12">
                        <div class="divBrasil" (click)="mudarIdioma('pt-br')">
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="divEua" (click)="mudarIdioma('en-us')"></div>
                    </div>
                </div>
            </div>
        </nz-drawer>

        <nz-layout class="inner-layout">
            <nz-content class="inner-content">
                <ng-content></ng-content>
            </nz-content>
        </nz-layout>
    </nz-layout>
    <div class="divFooterFrente">

    </div>
    <nz-footer>
        <div class="footer">
            <div nz-col [nzSpan]="width > 700 ? 8 : 12" class="divFooter">
                <i nz-icon nzType="facebook" nzTheme="outline" style="margin-right: 20px;"></i>
                <i nz-icon nzType="instagram" nzTheme="outline"></i>
            </div>

            <div nz-col nzSpan="8" class="divFooter criador" *ngIf="width > 700">
                {{isPortuguese ? 'Feito por' : 'Developed by'}} <a href="https://www.instagram.com/gabrielsereno.js/"
                    target="_blank">Gabriel Sereno</a>
                ©{{year}}
            </div>

            <div nz-col [nzSpan]="width > 700 ? 8 : 12" class="divFooter">
                <div>
                    <p class="pTelefone">+55 28 99951-7007</p>
                    <p class="pNomeEmpresa">DELLA PIETRA</p>
                </div>
            </div>
        </div>
    </nz-footer>
</nz-layout>