.headerToolbar {
    display: flex;
    background: white;
    height: 120px;
    border-bottom: 2px solid black;
}

.divTitulo {
    width: 1170px;
    margin: 0 auto;

    .divLogo {
        width: 130px;
        height: 120px;

        img {
            width: 280px;
            height: 100px;
            object-fit: contain;
            margin-top: 8px;
        }
    }

    .header-menu {
        line-height: 32px;
        display: initial;
        width: 72%;
        flex: 0 0 auto;
        float: left;
        text-align: right;
        padding-top: 38px;
        height: calc(100% - 1px);
    }
}

.divFooterFrente {
    background: #ffb400;
    width: 100%;
    height: 40px;
}

nz-footer {
    background: rgb(34, 34, 34);


    .footer {
        width: 1170px;
        margin: 0 auto;

        .divFooter {
            [nz-icon] {
                font-size: 35px;
                color: rgb(177, 172, 161);
            }

            &.criador {
                font-size: 10px;
                text-align: center;
                color: rgb(177, 172, 161);
            }

            .pTelefone {
                text-align: right;
                color: rgb(177, 172, 161);
                margin-block-start: 0em;
                margin-block-end: 0em;
                line-height: 14px;
                font-size: 14px;
            }

            .pNomeEmpresa {
                margin-block-start: 0em;
                margin-block-end: 0em;
                text-align: right;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                color: rgb(177, 172, 161);
            }
        }
    }
}



.liPaises {
    display: inline-block;
    padding-top: 38px;

    .divBrasil {
        background: url("../../../assets/images/brazil.jpg");
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        margin-left: 15px;
    }

    .divEua {
        background: url("../../../assets/images/estados-unidos-icone.png");
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-left: 16px;
        cursor: pointer;
    }
}

.inner-layout {
    background: #fff;
}

.inner-content {
    min-height: 280px;
}

.ant-menu-horizontal {
    border: none;
}

.ant-menu-item,
.ant-menu-submenu-title {
    padding: 0px 30px;
}

.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-submenu-selected,
.ant-menu-horizontal>.ant-menu-submenu:hover {
    color: rgb(255, 180, 0);
    border-bottom: 2px solid rgb(255, 180, 0);
}